body{
    
}
#outerWrapper{
}
#title{
    
}
#header{
}
#menu{
    
}
#contentWrapper{
}
#content{
    font-size: 1.5em !important;
}
#rightColumn{
    height: 34.7em ;
}

#footer{
    
}
h1, h2, h3, h4, h5, h6 {
    color: saddlebrown;
    font-size: 2em;
}
#image{
    width: 100%;
    height: 40%;
    padding-bottom: 2em;
    
}
